.posts {
  width: 100%;
  height:max-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 430px) {
  .posts {
    grid-template-columns: 1fr;
  }
}