@import url("../../App.css");

.view-page {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  padding: 20px;
  width: 90%;
  max-width: 800px;
  min-height: 400px;
  border-radius: 50px;
  box-shadow: 5px 5px 40px black;
}

.single-blog-header {
  text-align: center;
  border-top: 5px solid var(--fifth-color);
  border-bottom: 10px solid var(--fifth-color);
}

.single-blog-body {
  padding: 0 10px;
}