@import url("../../App.css");

.view-page {
  width: 100%;
  min-height: calc(100vh - 63px);
}

.view-page-container {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.single-blog {
  background-color: aliceblue;
  width: 100%;
  min-height: 50vh;
  border-radius: 30px;
}

.single-blog-header {
  text-align: center;
  border-bottom: 10px solid var(--fifth-color);
}

.single-blog-body {
  padding: 0 10px;
}