.write-page {
  width: 100%;
  height: calc(100vh - 113px);
}

.write-page-container {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

.write-page-header {
  margin: 0 auto 20px auto;
}

.write-page-title {
  margin: 0;
  padding: 0;
  text-shadow: 0 0 30px white;
  color: aliceblue;
}

.post-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  background-color: aliceblue;
  border-radius: 30px;
  box-shadow: 3px 3px 20px black;
}


.post-attention {
  font-weight: bold;
  height: 28px;
  padding: 5px;
  justify-content: center;
  color: tomato;
}

.write-form-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#post-description {
  resize: none;
}