.write-page {
  width: 100%;
  height: calc(100vh-113px);
}

.write-page-container {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.write-page-header {
  margin-bottom: 20px;
}

.write-page-title {
  margin: 0;
  padding: 0;
}

.post-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 25px;
  background-color: aliceblue;
  border-radius: 30px;
  box-shadow: 3px 3px 20px black;
}


.attention {
  font-weight: bold;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 20px 50px 0 50px;
}

#post-description {
  resize: none;
}