.login-page {
  width: 100%;
  height: calc(100vh - 113px);
}

.login-page-container {
  margin: 0 auto;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page-header {
  margin-bottom: 20px;
}

.login-page-title {
  margin: 0;
  padding: 0;
  color: aliceblue;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  background-color: aliceblue;
  border-radius: 30px;
}

.static {
  box-shadow: 3px 3px 20px black;
}

.error {
  box-shadow: 3px 3px 20px red;
}

.login-attention {
  font-weight: bold;
  height: 28px;
  padding: 5px;
  justify-content: center;
  color: tomato;
}

.login-form-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
}